.Answers
{
  // insert Answers scss here e.g.
  //&-nav {
  //  padding-top: 32px;
  //}

//Promotions
.HitchhikerResultsStandard--promotions {
  .HitchhikerResultsStandard-title {
    display:none;
  }
  .HitchhikerResultsStandard-viewMore {
    display:none;
  }
.HitchhikerStandard-detailsText {
    color: white;
}
.HitchhikerStandard-title {
    text-decoration: none;
    font-size: var(--yxt-font-size-lg);
    line-height: var(--yxt-line-height-lg);
    font-weight: var(--yxt-font-weight-bold);
    color: white;
}
.HitchhikerStandard-detailsText {
    color: white;
    font-weight: var(--yxt-font-weight-normal);
}
}
.HitchhikerStandard.promo-card {
    background-image: linear-gradient(45deg, #7303FD, #C524C7);
    border: 2px solid var(--yxt-color-brand-primary);
}
.HitchhikerResultsStandard-Card--universal {
  border-top: var(--yxt-border-default);
  }

//CTAs
.HitchhikerCTA  {
    color: #fff;
    background: var(--yxt-color-brand-primary);
    padding: .5rem 1rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: 1px solid white;
    text-transform: none;
  }
  .HitchhikerCTA:hover {
    background-color: black;
    text-decoration: none;
    color: white;
    border: 1px solid var(--yxt-color-brand-primary);
  }

//View More
.HitchhikerResultsGridTwoColumns-viewMore, .HitchhikerResultsGridThreeColumns-viewMore, .HitchhikerResultsStandard-viewMore {
    background: white;
    border: none;
    transition: all .3s ease-in-out;
    border-radius: 0px;
    &:hover {
      background: rgb(205, 205, 205);
    }
  }
.HitchhikerResultsStandard-viewMoreLabel, .HitchhikerResultsGridTwoColumns-viewMoreLabel, .HitchhikerResultsGridThreeColumns-viewMoreLabel {
    margin-right: calc(var(--yxt-base-spacing) / 2);
    font-family: var(--yxt-font-family);
    font-size: var(--yxt-font-size-xlg);
    line-height: var(--yxt-line-height-lg);
    font-weight: var(--yxt-font-weight-bold);
    font-style: normal;
    background: -webkit-linear-gradient(var(--yxt-color-brand-primary), var(--yxt-color-brand-secondary));
}
.HitchhikerResultsGridThreeColumns-viewMoreLink:hover,
  .HitchhikerResultsGridThreeColumns-viewMoreLink:focus,
  .HitchhikerResultsGridThreeColumns-viewMoreLink:active,
  .HitchhikerResultsStandard-viewMoreLink:hover,
  .HitchhikerResultsStandard-viewMoreLink:focus,
  .HitchhikerResultsStandard-viewMoreLink:active,
  .HitchhikerResultsGridTwoColumns-viewMoreLink:hover,
  .HitchhikerResultsGridTwoColumns-viewMoreLink:focus,
  .HitchhikerResultsGridTwoColumns-viewMoreLink:active,
  .HitchhikerEventStandard-viewMoreLink:hover,
  .HitchhikerEventStandard-viewMoreLink:focus,
  .HitchhikerEventStandard-viewMoreLink:active {
    text-decoration: none;
  }
.HitchhikerResultsGridThreeColumns-viewMore svg, .HitchhikerResultsGridThreeColumns-viewMore img, .HitchhikerResultsGridTwoColumns-viewMore svg, .HitchhikerResultsGridTwoColumns-viewMore img, .HitchhikerResultsStandard-viewMore svg, .HitchhikerResultsStandard-viewMore img {
  display: none;
}

//Headers
.HitchhikerResultsStandard-title, .HitchhikerResultsGridThreeColumns-title, .yxt-QuestionSubmission-titleBar, .HitchhikerResultsGridTwoColumns-title {
    font-family: var(--yxt-font-family);
    font-size: var(--yxt-font-size-md-lg);
    line-height: var(--yxt-line-height-lg);
    font-weight: var(--yxt-font-weight-bold);
    font-style: normal;
    color: white;
    margin: 0;
    border: var(--yxt-border-default);
    border-top-left-radius: var(--yxt-border-radius);
    border-top-right-radius: var(--yxt-border-radius);
    display: flex;
    padding: calc(var(--yxt-base-spacing) / 2) var(--yxt-base-spacing);
    align-items: flex-end;
    background-color: var(--yxt-color-brand-primary);
}
.HitchhikerResultsStandard-titleLabel, .HitchhikerResultsGridThreeColumns-titleLabel, .Answers-qaSubmission .yxt-QuestionSubmission-title, .HitchhikerResultsGridTwoColumns-titleLabel {
    font-family: var(--yxt-font-family);
    font-size: var(--yxt-font-size-xlg);
    line-height: var(--yxt-line-height-lg);
    font-weight: var(--yxt-font-weight-bold);
    font-style: normal;
    color: white;
}
.HitchhikerResultsStandard-title svg, .HitchhikerResultsStandard-title img, .HitchhikerResultsGridThreeColumns-title svg, .HitchhikerResultsGridThreeColumns-title img, .yxt-QuestionSubmission-titleIconWrapper svg, .yxt-QuestionSubmission-toggle svg, .HitchhikerResultsGridTwoColumns-title svg, .HitchhikerResultsGridTwoColumns-title img {
    color: white;
    height: var(--yxt-base-spacing);
    width: var(--yxt-base-spacing);
}

//Q&A
.Answers-qaSubmission .yxt-QuestionSubmission-titleDescription {
    font-weight: var(--yxt-font-weight-light);
    color: white;
}
.yxt-QuestionSubmission-submitButton:not(:disabled) {
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 1px solid white;
    text-transform: none;
    &:hover {
      border: 1px solid var(--yxt-color-brand-primary);
    }
}

//FAQs
.HitchhikerFaqAccordion-ctasWrapper {
    display: flex;
    flex-direction: row;
    margin: calc(var(--yxt-base-spacing) / 2) var(--yxt-base-spacing);
    padding-bottom: calc(var(--yxt-base-spacing) / 2);
}
.HitchhikerFaqAccordion-primaryCTA, .HitchhikerFaqAccordion-secondaryCTA {
    display: flex;
    margin-left: 5px;
    margin-top: 0px;
}

//News
.HitchhikerProductStandard {
    display: flex;
    flex-direction: column;
    font-size: var(--yxt-font-size-md);
    line-height: var(--yxt-line-height-md);
    background-color: var(--yxt-color-brand-white);
    padding: calc(var(--yxt-base-spacing) * 3/4) var(--yxt-base-spacing);
    width: 100%;
    height: 100%;
}
.HitchhikerProductStandard-imgWrapper {
    width: 100%;
    margin-right: 1rem;
}

//Athlete
.HitchhikerProductProminentImageClickable-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    padding: 10px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.5));
}
  .HitchhikerProductProminentImageClickable-name {
    color: white;
    font-size: 22px;
    letter-spacing: .25px;
    text-transform: uppercase;
    word-break: break-word;
  }
  .HitchhikerProductProminentImageClickable-contentWrapper {
    border-top: 2px solid rgba(255,255,255,0.25);
    padding-top: 4px;
    flex-direction: row;
    justify-content: space-between;
  }
.HitchhikerProductProminentImage-imgWrapper {
    align-items: center;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.flip-card-front {
  background-size: cover;
  background-position-x: center;
}
.HitchhikerProductProminentImageClickable-subtitle {
    color: white;
}
.HitchhikerProductProminentImageClickable-title {
    font-family: var(--yxt-font-family);
    font-size: var(--yxt-font-size-lg);
    line-height: var(--yxt-line-height-lg);
    font-weight: var(--yxt-font-weight-semibold);
    font-style: normal;
    color: white;
}

// card flip stylings
.HitchhikerProductProminentImageClickable.athlete-flip {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  height: 400px;
}

.HitchhikerProductProminentImageClickable.athlete-flip {
  background-image: linear-gradient(to right,#515151,#8a8a8a);
}


// .athlete-flip .HitchhikerProductProminentImageClickable-body {
//   background: rgba(0, 0, 0, 0.2);
// }

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.HitchhikerProductProminentImageClickable.athlete-flip:hover .flip-card-inner {
  transform: rotateY(180deg);
}

// .HitchhikerProductProminentImageClickable.athlete-flip:hover .flip-card-front {
//   opacity: 0;
// }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10px;
}

/* Style the back side */
.flip-card-back {
  background: black;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
}

.HitchhikerProductProminentImageClickable:hover {
  box-shadow: none;
  top: 0;
}

#listLabel {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 10px;
}

li#playerName {
  font-size: larger;
  padding-bottom: 5px;
  font-weight: bold;
}

li#playerPosition {
  padding-bottom: 10px;
}

.athlete-flip .HitchhikerProductProminentImage-imgWrapper {
  display: none;
}

// fix CTAs to the bottom of the card
.HitchhikerProductProminentImage {
  &-body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-contentWrapper {
    height: 100%;
    justify-content: space-between;
  }
}

//Products
.HitchhikerProductProminentImage-ctasWrapper {
    text-transform: uppercase;
    margin-top: auto;
    padding-top: calc(var(--yxt-base-spacing) / 2);
    display: flex;
}
.HitchhikerProductProminentImage-secondaryCTA {
    display: flex;
    margin-top: calc(var(--yxt-base-spacing) / 2);
    margin-left: 5px;
}









}

// .Overlay
// {
//   // Insert Overlay styling here
// }
